<div class="@container">
    <div class="@[480px]:px-4 @[480px]:py-3">
        <div class="bg-cover bg-center flex flex-col justify-end overflow-hidden bg-white @[480px]:rounded-xl min-h-[218px]"
            style='background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 25%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuBhkPMERbM8VkilE_MtcW_PHhi-BxBISB-Fi0Bz6mjFR5pSZ6-nI3Kx3R2PK7QFuS9SWS4a8DxHMbCCZw-tdjrSvd7or9EvKaFOhMcDFRX5SBUsCo6af-JDgtdBruXkLnxjaTepNhGRPBhxnYVtTWzRfcy9S7ope0D6gnlBx5Z-9syFZwUVxCCyOd4E6n1xXLOQLv34_do8BGdcuJVIxOZG41WYlN9-_qPvZ0XD19mMS5GO_6s0FJXHI4UhHuh9BCDmIyDlq06f6CJY");'>
            <div class="flex p-4">
                <p class="text-white tracking-light text-[28px] font-bold leading-tight">Get the job done
                    right</p>
            </div>
        </div>
    </div>
</div>