<h2 class="text-[#121416] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Top-rated
    professionals</h2>
<div class="flex overflow-y-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&amp;::-webkit-scrollbar]:hidden">
    <div class="flex items-stretch p-4 gap-3">
        <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-40">
            <div class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl flex flex-col"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAymNRgiYZ43hBrZ3_VMEbgzmz1CnpFwp_3xg9ujtg27446FvyEoaQeVA83xMym3w_9_lCsVfWOIYIGTtWrsYe-UkpbeAQSlHb3DmBfNEQruP4t8DgSKFptbQTe2b4VTa-co5nQIIPCswqlOi4g3yAavSPP0YVHRG0YcJTSkr04fHz6a0rOnmdyrMIVrjiGa7XS__n0TKIJxRL2kYXW-9rTqKFFQx_uDRzgUL2oS6sKIjeXKsmR6K-aePbmHyo83QtxQSnd8Wblcp8v");'>
            </div>
            <div>
                <p class="text-[#121416] text-base font-medium leading-normal">Ethan Walker</p>
                <p class="text-[#6a7681] text-sm font-normal leading-normal">Plumber</p>
            </div>
        </div>
        <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-40">
            <div class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl flex flex-col"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCXjpARzRMI6j3nAkZUS4ZP5hrn6UVkw_s5lCInmqDlbFjeAjAjmPoxGML0DzVP_wGG6tOnSbuHkGCmCMn-Qkad8YVJ_KXUZjKiaBgKCfqrIxLA2W1jz3HB3tmvVrgdjPnpvZ-lDY8-Lhw3NGaTURJsquvmDVBbHnbw2Byi1fwrRCCIaYwyGa7tBhn_UGTxXVAplaGSWP5EmxgcjOx-JZsft0odoWrFQYhfnHV3Sm824ES0-6JBr2TIgMTrherdMQi6KvXhr6Xjc78j");'>
            </div>
            <div>
                <p class="text-[#121416] text-base font-medium leading-normal">Sophia Reed</p>
                <p class="text-[#6a7681] text-sm font-normal leading-normal">Electrician</p>
            </div>
        </div>
        <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-40">
            <div class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl flex flex-col"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBzNQ24n68cYa1z9GcyMaHalq5ozswD8xuzf-M5UJCULCqFLf8lL-PgKJh2qfwKC6_VKVe_0MatuQNk5bgNps7xLqbMCkub0XTAz7ySu1MEFCohiaUgUqB4x-eYY7P8Rsv7N4H08g-Sisajr1JcDkyFM30bLC9Q5ics6llciM0dr5PfmLs28UeCP7pVLGcbirpLYTgIfRCbjey4BTDNfl7tSmEIi7MIcn2ZnaXdSnAVnwI9rCfMNFuGPwDXF7ZopPGdpchhG3v3pB9A");'>
            </div>
            <div>
                <p class="text-[#121416] text-base font-medium leading-normal">Caleb Foster</p>
                <p class="text-[#6a7681] text-sm font-normal leading-normal">Handyman</p>
            </div>
        </div>
    </div>
</div>