<nav class="fixed bottom-0 left-0 right-0 z-50 bg-white border-t border-[#f1f2f4]">
    <div class="flex justify-between items-center px-4 py-2">
        <button *ngFor="let item of navItems" (click)="onNavClick(item)"
            [class.!text-[var(--primary-600)]="activeItem?.path === item.path"
            class="flex flex-col items-center gap-1.5 w-16 text-[var(--foreground-secondary)] hover:text-[var(--primary-600)]">
            <i class="ph text-2xl ph-{{item.icon}}" [ngClass]="{
                'text-[var(--primary-600)]': activeItem?.path === item.path,
                'text-[var(--foreground-secondary)]': activeItem?.path !== item.path
            }"></i>
            <span class="text-xs">{{getTranslation(item.label)}}</span>
        </button>
    </div>
</nav>